azul = #22BCE0
naranja = #DD4F24
gris_texto = #7A7A7A
gris_oscuro = #444
gris_claro = lighten(gris_oscuro,40%)
gris_blanco = #E8E8E8

body
	background gris_blanco
	
	input
		border-left 1px solid azul

footer
	background naranja
	color rgba(white,0.5)
	padding 1em
	padding 1em 0
	text-align center
	width 100%

	h3
		font-size 14px
		font-weight normal

		strong
			display block 

		.mejor
			&:before
			&:after
				content " - "
	
form
	label
		margin-right 20px	

header
	background black
	color white
	padding 1em
	margin 0px

	.titular
		display inline-block
		margin-left 10px

	    .titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
	
	.logo 
		display inline-block
		border 0px dashed invert(gris_oscuro)
		height 52px
		width 52px
		
		figure
			display inline-block
			
			img
				border-radius 50%
				width 52px
		
	.usuario
		float right
			
		.avatar
			border 0px dashed invert(gris_oscuro)
			border-radius 50%
			height 50px
			width 50px
			right 30px
		

nav
	background azul

	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto

		li
			display inline-block

			a
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em
				text-decoration none

				&:hover
					background rgba(black,0.1)			

section
	padding 0
	
	.panel-default
		padding 0
		
	
	h2
		display block
	

		
	.menuOpciones
		display block
		margin-bottom 25px
		margin-top 5px
		position relative
	
	.input-group
		width 100%

		
		

		
@media (max-width: 768px) and (min-width: 540px)
	section
		padding 1.2em
		
		h2
			display inline-block
			
		.menuOpciones
			top -100px
			margin-bottom 0px
			
		.input-group
			width 70%
			
	footer
		position absolute
		bottom 0px
		
			

@media screen and (min-width: 768px)	

	section
		padding 1.2em
		
		h2
			display inline-block

		.menuOpciones
			top -100px
			margin-bottom 0px
			
		.input-group
			width 50%

	footer
		position absolute
		bottom 0px
		