html {
  height: 100%;
  width: 100%;
}
body {
  background: #e8e8e8;
  height: 100%;
  width: 100%;
}
body input {
  border-left: 1px solid #22bce0;
}
footer {
  background: #dd4f24;
  color: rgba(255,255,255,0.5);
  padding: 1em;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  position: relative;
  botton: 0px;
}
footer h3 {
  font-size: 14px;
  font-weight: normal;
}
footer h3 strong {
  display: block;
}
footer h3 .mejor:before,
footer h3 .mejor:after {
  content: " - ";
}
form label {
  margin-right: 20px;
}
header {
  background: #000;
  color: #fff;
  padding: 1em;
  margin: 0px;
}
header .titular {
  display: inline-block;
  margin-left: 10px;
}
header .titulo {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
header .nick {
  background: #22bce0;
  border-radius: 0 5px 10px 0;
  color: #fff;
  font-weight: bold;
  padding: 0.3em 0.4em;
  position: absolute;
  left: 80px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
  top: 47px;
  z-index: 2;
}
header .salir {
  background: #dd4f24;
  border-radius: 0 5px 10px 0;
  color: #fff;
  font-weight: bold;
  padding: 0.3em 0.4em;
  position: absolute;
  right: 8px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
  top: 20px;
  z-index: 2;
}
header .registrar {
  border-radius: 5px 0 0 10px;
  color: #fff;
  font-weight: bold;
  padding: 0.3em 0.4em;
  position: absolute;
  right: 100px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
  top: 20px;
  z-index: 2;
}
header .logo {
  display: inline-block;
  border: 0px dashed #bbb;
  height: 52px;
  width: 52px;
}
header .logo figure {
  display: inline-block;
}
header .logo figure img {
  border-radius: 50%;
  width: 52px;
}
nav {
  background: #444;
  margin-bottom: 10px;
}
nav .navbar {
  margin-bottom: 10px;
}
nav ul li:hover {
  background: #000;
  font-weight: bold;
  color: #22bce0;
}
section .container {
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
}
section .container .subtitulo {
  display: inline-block;
  margin: 0 0 5px 0;
}
section .container .input-group {
  width: 100%;
}
section .container .register {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  margin-bottom: 10px;
}
section .container .panel {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  height: 400px;
}
section .container .navegacion {
  text-align: center;
}
section .container .page-header {
  margin-top: 20px;
  margin-bottom: 0px;
}
section .container .inicio {
  background: #fff;
  padding: 0;
  margin: 0;
}
section .container .ng-scope .content {
  height: 100%;
  position: relative;
  top: 0%;
  left: 0%;
  padding: 1%;
}
section .container .row {
  padding: 10px;
}
@media (max-width: 768px) and (min-width: 540px) {
  section {
    padding: 0;
  }
  section .subtitulo {
    display: inline-block;
  }
  section .input-group {
    width: 70%;
  }
  section .panel {
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding: 0;
  }
  section .subtitulo {
    display: inline-block;
  }
  section .input-group {
    width: 50%;
  }
  section .panel {
    height: 340px;
  }
}
