body {
  background: #e8e8e8;
}
body input {
  border-left: 1px solid #22bce0;
}
footer {
  background: #dd4f24;
  color: rgba(255,255,255,0.5);
  padding: 1em;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  bottom: 0;
}
footer h3 {
  font-size: 14px;
  font-weight: normal;
}
footer h3 strong {
  display: block;
}
footer h3 .mejor:before,
footer h3 .mejor:after {
  content: " - ";
}
form label {
  margin-right: 20px;
}
header {
  background: #000;
  color: #fff;
  padding: 1em;
  margin: 0px;
}
header .titular {
  display: inline-block;
  margin-left: 10px;
}
header .titulo {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
header .logo {
  display: inline-block;
  border: 0px dashed #bbb;
  height: 52px;
  width: 52px;
}
header .logo figure {
  display: inline-block;
}
header .logo figure img {
  border-radius: 50%;
  width: 52px;
}
header .usuario {
  float: right;
}
header .usuario .avatar {
  border: 0px dashed #bbb;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  right: 30px;
}
nav {
  background: #444;
}
nav .menu {
  line-height: 40px;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}
nav .menu li {
  display: inline-block;
}
nav .menu li a {
  color: #fff;
  display: block;
  margin: 0 0.5em;
  padding: 0 0.2em;
  text-decoration: none;
}
nav .menu li a:hover {
  background: rgba(0,0,0,0.1);
}
.navbar {
  margin-bottom: 5px;
}
section {
  padding: 0;
}
section .subtitulo {
  display: inline-block;
  margin: 0 0 5px 0;
}
section .input-group {
  width: 100%;
}
section .panel {
  padding: 10px;
  border-radius: 10px;
  height: 320px;
}
section .panel .table {
  height: 160px;
}
section .panel-default {
  background: #fff;
  padding: 10px 0 10px 0;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}
section .navegacion {
  text-align: center;
}
section .page-header {
  margin-top: 20px;
  margin-bottom: 0px;
}
@media (max-width: 768px) and (min-width: 540px) {
  section {
    padding: 0;
  }
  section .subtitulo {
    display: inline-block;
  }
  section .input-group {
    width: 70%;
  }
  section .panel {
    height: 320px;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding: 0;
  }
  section .subtitulo {
    display: inline-block;
  }
  section .input-group {
    width: 50%;
  }
  section .panel-default {
    height: 300px;
  }
  footer {
    position: absolute;
    bottom: 0px;
  }
}
