azul = #22BCE0
naranja = #DD4F24
rojo_claro = #EC776E
gris_texto = #7A7A7A
gris_oscuro = #444
gris_claro = lighten(gris_oscuro,40%)
gris_blanco = #E8E8E8

html
	height 100%
	width 100%
	
body
	background gris_blanco
	height 100%
	width 100%
	
	input
		border-left 1px solid azul

footer
	background naranja
	color rgba(white,0.5)
	padding 1em
	padding 1em 0
	text-align center
	width 100%
	position relative
	botton 0px

	h3
		font-size 14px
		font-weight normal

		strong
			display block 

		.mejor
			&:before
			&:after
				content " - "
	
form
	label
		margin-right 20px	

header
	background black
	color white
	padding 1em
	margin 0px

	.titular
		display inline-block
		margin-left 10px

	    .titulo
			font-size 24px
			font-weight normal
			margin 0
			padding 0
			
		.nick
			background azul
			border-radius  0 5px 10px 0 
			color white
			font-weight bold
			padding 0.3em 0.4em
			position absolute
			left 80px
			text-decoration none
			text-shadow 1px 1px 0px black
			top 47px
			z-index 2
	
		.salir
			background naranja
			border-radius  0 5px 10px 0 
			color white
			font-weight bold
			padding 0.3em 0.4em
			position absolute
			right 8px
			text-decoration none
			text-shadow 1px 1px 0px black
			top 20px
			z-index 2
		
		.registrar
			border-radius 5px 0 0  10px
			color white
			font-weight bold
			padding 0.3em 0.4em
			position absolute
			right 100px
			text-decoration none
			text-shadow 1px 1px 0px black
			top 20px
			z-index 2
			
				
	.logo 
		display inline-block
		border 0px dashed invert(gris_oscuro)
		height 52px
		width 52px
		
		figure
			display inline-block
			
			img
				border-radius 50%
				width 52px
		
nav
	background gris_oscuro
	margin-bottom 10px
	
	.navbar
		margin-bottom 10px

	ul
		li
			
			&:hover
				background black	
				font-weight bold
				color azul		
section
	.container
		margin 0
		padding 0px
		width 100%
		height 100%
	
		.subtitulo
			display inline-block
			margin 0 0 5px 0
		
		.input-group
			width 100%
			
		.register
			background white
			padding 10px 
			border-radius 5px
			margin 10px 0 10px 0
			margin-bottom 10px
			
		.panel		
			padding 10px
			border-radius 10px
			background white
			height 400px
			
		.navegacion
			text-align center
		
		.page-header
			margin-top 20px
			margin-bottom 0px
		
		.inicio
			background white
			padding 0
			margin 0
			
		.ng-scope
			
			.content
				height 100%
				position: relative;
				top 0%
				left 0%
				padding 1%
		.row
			padding 10px

			

		
@media (max-width: 768px) and (min-width: 540px)
	section
		padding 0

		.subtitulo
			display inline-block
			
		
		.input-group
			width 70%
		
		.panel
			height 400px
		

@media screen and (min-width: 768px)	

	section
		padding 0
		
		.subtitulo
			display inline-block

			
		.input-group
			width 50%
			
		.panel
			height 340px
		


		