<div class="col-sm-12" style="background: white; padding: 10px;">

    <div class="jumbotron" style="text-align:center;" >
        <h2>{{titulo}}</h2>

        <p class="lead">Urbari Racquet Club para usted y su familia.</p>
    </div>

    <div class="col-sm-12" style="margin:0;">
            <div class="col-lg-4" style="margin:0;">
                <div class="col-sm-6" style="margin:0;">
                    
                    <img src="img/racquet.png" class="img-circle" alt="fotos" />
                </div>

                <div class="col-sm-6" style="margin:0;">
                    
                    <h2>Disciplinas</h2>

                    <p>Natación, Raquet, Tenis, Taekwondo, Pelota Fronton, Boxeo, Zumba, Spinning, Verano, ...</p>
                    <br/>
                </div>
                <p></p><hr>
            </div>
                    
            <div class="col-lg-4" style="margin:0;">

                <div class="col-sm-6" style="margin:0;">
                    
                    <img src="img/instalaciones.png" class="img-circle" alt="fotos" />
                </div>
                <div class="col-sm-6" style="margin:0;">
                    
                    <h2>Instalaciones</h2>

                    <p>Salón de Eventos, Cabañas Churrasqueras, Canchas de Tenis, Racquet, Fronton, Futbol 7, ...</p>

                </div>
                <p><a class="btn btn-default col-sm-6" style="margin:0;" href="#/servicios">Reservar &raquo;</a></p><hr>
            </div>
            <div class="col-lg-4" style="margin:0;">

                <div class="col-sm-6" style="margin:0;">
                    
                    <img src="img/eventos.png" class="img-circle" alt="fotos" />
                </div>
                <div class="col-sm-6" style="margin:0;">
                        
                    <h2>Eventos</h2>
                    <p>Campeonatos, Fiestas, 15 años, Matrimonios, Cumpleaños, Confaraternización, ...</p>
                </div>
                <p><a class="btn btn-default col-sm-6" style="margin:0;" href="#/servicios">Reservar &raquo;</a></p><hr>
            </div>
    </div>

</div>