<div class="col-sm-12" style="background: white; padding: 10px;"  init="inicializar()"   >

	<div class="jumbotron" >
	    <h2>{{titulo}}</h2>

	    <p class="lead">Urbari Racquet Club para usted y su familia.</p>
	</div>

    <div class="col-sm-12">
        <div class="col-lg-4">
            <h2>Disciplinas</h2>

            <p>Natación, Raquet, Tenis, Taekwondo, Pelota Fronton, Boxeo, Zumba, Spinning, Verano, ...</p>

            <p><a class="btn btn-default" href="#/servicios">Reservar &raquo;</a></p><hr>
        </div>
        <div class="col-lg-4">
            <h2>Instalaciones</h2>

            <p>Salón de Eventos, Cabañas Churrasqueras, Canchas de Tenis, Racquet, Fronton, Futbol 7, ...</p>

            <p><a class="btn btn-default" href="#/servicios">Reservar &raquo;</a></p><hr>
        </div>
        <div class="col-lg-4">
            <h2>Eventos</h2>

            <p>Campeonatos, Fiestas, 15 años, Matrimonios, Cumpleaños, Confaraternización, ...</p>

            <p><a class="btn btn-default" href="#/servicios">Reservar &raquo;</a></p><hr>
        </div>
    </div>

</div>