<div class="col-sm-12" >
	<div class="col-sm-12">
		<h2 class="col-sm-12">Registrar</h2>
	</div>
	<div class="col-sm-8">
		<div class="form-group col-sm-3">
			<input class="span5 form-control" maxlength="20" placeholder="Nombre de usuario" type="text">
		</div>
		<div class="form-group col-sm-3">
			<input class="span5 form-control" maxlength="30" placeholder="Correo electronico" type="text">
		</div>
		<div class="form-group col-sm-3">
			<input class="span5 form-control" maxlength="700" placeholder="Contraseña" type="password">
		</div>
		<div class="form-group col-sm-3">
			<input class="span5 form-control" maxlength="700" placeholder="Repetir Contrasenia" type="password">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group col-sm-6">
				<button class="btn btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-ok"></span> Entrar</button>		
			</div>
			<div class="form-group col-sm-6">
				<button class="btn btn-danger btn-block" type="submit" ng-click="seeRegister()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>		
			</div>
	</div>
</div>