<div class="col-sm-12" ng-controller="reserva">
	<div class="page-header">
		<div class="alert alert-success alert-dismissable"  ng-show="message == true">
			<button type="button" class="close" data-dismiss="alert" ng-click="showMessage('ningun',false)">&times;</button>
			<b>Ok!</b> La operacion de {{operacion}} se realizo exitosamente...
		</div>

		<h2 class="subtitulo">{{titulo}}</h2>
		<!--Botones de accion-->
		<div class="pull-right">
			<button type="button" class="btn btn-primary btn-sm" ng-show="btnNew == true"  ng-click="isBtnNew(true)"><span class="glyphicon glyphicon-plus"> Nuevo</span></button>
			<button type="button" class="btn btn-success btn-sm" ng-show="btnSave == true || btnUpdate == true" ng-click="save()"><span class="glyphicon glyphicon-ok"> Guardar</span></button>
			<button type="button" class="btn btn-danger btn-sm" ng-show="btnSave == true || btnUpdate == true" ng-click="isBtnNew(false)"><span class="glyphicon glyphicon-remove"> Cancelar</span></button>
		</div>
	</div>
	<br>
	<!--Panel registro-->
	<div class="col-sm-12 panel-default" ng-show="btnSave == true || btnUpdate == true">
		<div class="col-sm-5" ng-init="getUsuarios()"  >
			<label for="usuario">Usuarios:</label>
			<select ng-model="actual.usuario" class="form-control"
			    ng-options="value.codigo as value.ci for value in usuarios">
			    <option>--</option>
			</select>
			<br>
		</div>

		<div class="col-sm-5" ng-init="getServicios()"  >
			<label for="servicio">Servicios:</label>
			<select ng-model="actual.servicio" class="form-control"
			    ng-options="value.codigo as value.nombre for value in servicios">
			    <option>--</option>
			</select>
			<br>
		</div>
		<div class="col-sm-3">
			<label for="fechaInicio" >Fecha: </label>
			<input type="date"  class="form-control" name="fechaInicio" ng-model="actual.fechaInicio" placeholder="Selecciona una fecha">
		</div>

		<div class="col-sm-3">
			<label for="horaInicio" >Hora:</label>
			<select class="form-control" ng-model="actual.hora" name="{{actual.hora}}">
			  <option>6:00 - 7:00</option>
			  <option>7:00 - 8:00</option>
			  <option>8:00 - 9:00</option>
			  <option>9:00 - 10:00</option>
			  <option>10:00 - 11:00</option>
			  <option>11:00 - 12:00</option>
			  <option>12:00 - 13:00</option>
			  <option>13:00 - 14:00</option>
			  <option>14:00 - 15:00</option>
			  <option>15:00 - 16:00</option>
			  <option>16:00 - 17:00</option>
			</select><br>
		</div>
		<div class="col-sm-12">
			<label for="motivo" >Motivo:</label>
			<textarea maxlength="150" name="motivo" class="form-control" ng-model="actual.motivo" placeholder="Introduzca un motivo"></textarea>
		</div>
	</div>

	<!--Tablas-->
	<div class="panel"  ng-show="btnNew  == true">
		<!--boton de busqueda-->
		<div class="panel-heading">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				<input type="text" class="form-control" placeholder="Buscar usuario" ng-model="buscar.usuario_codigo">
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-condensed table-striped" ng-init="getReservas()">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Usuario</th>
						<th>CI</th>
						<th>Servicio</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Motivo</th>
						<th>Estado</th>
						<th>Controles</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = 'reserva in resers | filter:buscar | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
						<td>{{reserva.codigo}}</td>
						<td>{{reserva.usuario_codigo | uppercase}} {{reserva.apellido |uppercase}}</td>
						<td>{{reserva.ci}}</td>
						<td>{{reserva.servicio_codigo}}</td>
						<td>{{reserva.fechaInicio | date}}</td>
						<td>{{reserva.hora}}</td>
						<td>{{reserva.motivo | uppercase}}</td>
						<td>{{reserva.estado}}</td>
						<td>
							<div class="btn-group btn-group-sm">
								<button type="button" class="btn btn-warning btn-small" ng-click="update(reserva.codigo)"><span class="glyphicon glyphicon-pencil"></span></button>
								<button type="button" class="btn btn-danger btn-small"  ng-click="delete(reserva.codigo)"><span class="glyphicon glyphicon-remove"></span></button>
		    				</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--Botones navegables-->
		<div class="navegacion">
			<button class="pagination pagination-lg" type="button" ng-disabled = "currentPage == 0" ng-click="currentPage = currentPage - 1">&laquo;</button>
			<button class="pagination" type="button" ng-disabled = "currentPage == page.no - 1" ng-click="setPage(page.no)" ng-repeat="page in pages">{{page.no}}</button>
			<button class="pagination pagination-sm" type="button" ng-disabled = "currentPage >= resers.length/pageSize - 1" ng-click="currentPage = currentPage + 1">&raquo;</button>
		</div>
	</div>
</div>
