<div class="col-sm-12" ng-controller="reserva">
	<div class="page-header">
		<h2 class="subtitulo">{{titulo}}</h2>
		<!--Botones de accion-->
		<div class="pull-right">
			<button type="button" class="btn btn-primary btn-sm" ng-show="btnNew == true"  ng-click="isBtnNew(true)"><span class="glyphicon glyphicon-plus"> Nuevo</span></button>
			<button type="button" class="btn btn-success btn-sm" ng-show="btnSave == true" ng-click="save()"><span class="glyphicon glyphicon-ok"> Guardar</span></button>
			<button type="button" class="btn btn-danger btn-sm" ng-show="btnSave == true" ng-click="isBtnNew(false)"><span class="glyphicon glyphicon-remove"> Cancelar</span></button>
		</div>
	</div>
	<br>
	
	<!--Panel registro-->
	<div class="register container" ng-show="btnSave == true">
		<br><div class="col-sm-12">
			<p class="col-sm-12">Para realizar la reserva del servicio llene todos los campos del siguiente formulario. </p>
		</div><hr>
		<div class="col-sm-12" >
			<div class="col-sm-2"  ng-init="getUsuarios()" >
				<label for="ci">CI de Cliente:</label>
				<select ng-model="actual.usuario" class="form-control" ng-change="buscarUsuarios(actual.usuario)"
				    ng-options="value.codigo as value.ci  for value in usuarios">
				    <option>--</option>
				</select>
				<br>
			</div>
			<div class="col-sm-6">
				<div>
					<label for="usuario">Nombre cliente:</label><br>
					<input type="text" ng-disabled="true" placeholder="Nombre del servicio" class="form-control" value="{{nombreCompleto}}">
					<br>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12">
			<div class="col-sm-5" ng-init="getServicios()"  >
				<label for="servicio">Servicios:</label>
				<select ng-model="actual.servicio" class="form-control"
				    ng-options="value.codigo as value.nombre for value in servicios">
				    <option>--</option>
				</select>
				<br>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="col-sm-3">
				<label for="hora" >Fecha:</label>
				<input list="fechas" class="form-control"  id="fecha" ng-model="actual.fechaInicio" placeholder="dd/mm/yy" required>
			    <datalist id="fechas" >
			        <select ng-init="obtenerFechas()">
	                    <option ng-repeat="decha in fechasSemana" value="{{decha}}"></option>
	                </select>
			    </datalist> 
				<span ng-show="!reservar.$pristine && reservar.fechaInicio.$error.required">La fecha es requerida.</span>
				<br>
			</div>
			
			<div class="col-sm-3">
				<label for="hora" >Hora:</label>
				<select class="form-control" ng-model="actual.hora" name="hora" required>
				  <option>6:00 - 7:00</option>
				  <option>7:00 - 8:00</option>
				  <option>8:00 - 9:00</option>
				  <option>9:00 - 10:00</option>
				  <option>10:00 - 11:00</option>
				  <option>11:00 - 12:00</option>
				  <option>12:00 - 13:00</option>
				  <option>13:00 - 14:00</option>
				  <option>14:00 - 15:00</option>
				  <option>15:00 - 16:00</option>
				  <option>16:00 - 17:00</option>
				  <option>17:00 - 18:00</option>
				  <option>18:00 - 19:00</option>
				  <option>19:00 - 20:00</option>
				  <option>20:00 - 21:00</option>
				  <option>21:00 - 22:00</option>
				  <option>22:00 - 23:00</option>
				</select>
				<span ng-show="!reservar.$pristine && reservar.hora.$error.required">La hora es requerida.</span>
				<br>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label for="motivo" >Motivo:</label>
				<textarea maxlength="150" name="motivo" class="form-control" ng-model="actual.motivo" placeholder="Introduzca un motivo"></textarea>
			</div>
		</div>
	</div>

	<!--Tablas-->
	<div class="panel"  ng-show="true">
		<!--boton de busqueda-->
		<div class="panel-heading">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				<input type="text" class="form-control" placeholder="Buscar usuario" ng-model="buscar.usuario_codigo">
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-condensed table-striped" ng-init="getReservas()">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>CI</th>
						<th>Cliente</th>
						<th>Servicio</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Motivo</th>
						<th>Estado</th>
						<th>Controles</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = 'reserva in resers | filter:buscar | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
						<td>{{reserva.codigo}}</td>
						<td>{{reserva.ci}}</td>
						<td>{{reserva.usuario_codigo | uppercase}} {{reserva.apellido |uppercase}}</td>
						<td>{{reserva.servicio_codigo}}</td>
						<td>{{reserva.fechaInicio | date}}</td>
						<td>{{reserva.hora}}</td>
						<td>{{reserva.motivo | uppercase}}</td>
						<td><span>{{reserva.estado}}</span></td>
						<div class="control-group">
							<td>
								<button type="button" ng-disabled="{{reserva.vista_estado}}" class="btn btn-success btn-small" ng-click="confirmar(reserva.codigo)"><span class="glyphicon glyphicon-ok"></span></button>
								<button type="button" ng-disabled="{{reserva.vista_estado}}" class="btn btn-danger btn-small"  ng-click="cancelar(reserva.codigo)"><span class="glyphicon glyphicon-remove-sign"></span></button>
							</td>
		    			</div>
					</tr>
				</tbody>
			</table>
		</div>
		<!--Botones navegables-->
		<div class="navegacion">
			<button class="pagination pagination-lg" type="button" ng-disabled = "currentPage == 0" ng-click="currentPage = currentPage - 1">&laquo;</button>
			<button class="pagination" type="button" ng-disabled = "currentPage == page.no - 1" ng-click="setPage(page.no)" ng-repeat="page in pages">{{page.no}}</button>
			<button class="pagination pagination-sm" type="button" ng-disabled = "currentPage >= resers.length/pageSize - 1" ng-click="currentPage = currentPage + 1">&raquo;</button>
		</div>
	</div>
</div>
