<div class="col-sm-12" >
	<div class="page-header">
		<h2 class="subtitulo">{{titulo}}</h2>
		<!--Botones de accion-->
		<div class="pull-right">
			<button type="button" class="btn btn-primary btn-sm" ng-show="btnNew == true"  ng-click="isBtnNew(true)"><span class="glyphicon glyphicon-plus"> Nuevo</span></button>
			<button type="button" class="btn btn-success btn-sm" ng-show="btnSave == true || btnUpdate == true" ng-click="save()"><span class="glyphicon glyphicon-ok"> Guardar</span></button>
			<button type="button" class="btn btn-danger btn-sm" ng-show="btnSave == true || btnUpdate == true" ng-click="cancel()"><span class="glyphicon glyphicon-remove"> Cancelar</span></button>
		</div>
	</div>
	<br>	
	<!--Panel registro-->
	<div class="register container" ng-show="btnSave == true || btnUpdate == true">
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label for="estado" >Estado:</label>
				<select class="form-control" ng-model="actual.estado" ng-options="value.id as value.nombre for value in stateService">
				  <option>--</option>
				</select><br>
			</div>
		</div>
		
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label for="nombre" >Nombre: </label>
				<input type="text" placeholder="Nombre del servicio" class="form-control" name="codigo" ng-model="actual.nombre"><br>
			</div>
		</div>
		
		<div class="col-sm-12">
			<div class="col-sm-7">
				<label for="descripcion" >Descripcion:</label>
				<textarea maxlength="150" name="descripcion" placeholder="Introduzca una descripcion" class="form-control" ng-model="actual.descripcion"></textarea>
			</div>
		</div>


	</div>

	<!--Tablas-->
	<div class="panel" ng-show="true">
		<!--boton de busqueda-->
		<div class="panel-heading">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				<input type="text" class="form-control" placeholder="Buscar servicio" ng-model="buscar.nombre">
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-condensed table-striped" ng-init="getServices()">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Estado</th>
						<th>Controles</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = 'service in services | filter:buscar| startFromGrid: currentPage * pageSize | limitTo: pageSize'>
						<td>{{service.codigo}}</td>
						<td>{{service.nombre | uppercase}}</td>
						<td>{{service.descripcion | uppercase}}</td>
						<td>{{service.estado}}</td>
						<td>
							<div class="btn-group btn-group-sm">
								<button type="button" class="btn btn-warning btn-small" ng-click="update(service.codigo)"><span class="glyphicon glyphicon-pencil"></span></button>
								<button type="button" class="btn btn-danger btn-small" style="background: #EC776E;" ng-click="cancelar(service.codigo)"><span class="glyphicon glyphicon-remove-sign"></span></button>
								<button type="button" class="btn btn-danger btn-small"  ng-click="delete(service.codigo)"><span class="glyphicon glyphicon-trash"></span></button>
		    				</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--Botones navegables-->
		<div class="navegacion">
			<button class="pagination pagination-lg" type="button" ng-disabled = "currentPage == 0" ng-click="currentPage = currentPage - 1">&laquo;</button>
			<button class="pagination" type="button" ng-disabled = "currentPage == page.no - 1" ng-click="setPage(page.no)" ng-repeat="page in pages">{{page.no}}</button>
			<button class="pagination pagination-sm" type="button" ng-disabled = "currentPage >= services.length/pageSize - 1" ng-click="currentPage = currentPage + 1">&raquo;</button>
		</div>
	</div>


</div>
