<div class="col-sm-12">
	<div class="page-header">
		<h2 class="subtitulo">{{titulo}}</h2>
		<!--Botones de accion-->
		<div class="pull-right">
			<button type="button" class="btn btn-primary btn-sm" ng-show="btnNew == true"  ng-click="isBtnNew(true)"><span class="glyphicon glyphicon-plus"> Nuevo</span></button>
			<button type="button" class="btn btn-success btn-sm" ng-show="btnSave == true" ng-click="save()"><span class="glyphicon glyphicon-ok"> Guardar</span></button>
			<button type="button" class="btn btn-danger btn-sm" ng-show="btnSave == true" ng-click="isBtnNew(false)"><span class="glyphicon glyphicon-remove"> Cancelar</span></button>
		</div>
	</div>
	<br>
	<!--Panel registro-->
	<div class="register container" ng-show="btnSave == true">
		
		<div class="col-sm-6">
			<label for="ci" >Cedula identidad: </label>
			<input type="number" maxlength="20" placeholder="Numero Cedula identidad" class="form-control" name="ci" ng-model="actual.ci"><br>
		</div>

		<div class="col-sm-6" ng-init="getTipoUsuario()"  >
			<label for="tipo">Tipo usuario:</label>
			<select ng-model="actual.tipousuario" class="form-control"
			    ng-options="value.id as value.nombre for value in tipousuarios">
			    <option>--</option>
			</select>
			<br>
		</div>

		<div class="col-sm-6">
			<label for="nombre" >Nombre: </label>
			<input type="text" placeholder="Introduce tus nombres" class="form-control" name="nombre" ng-model="actual.nombre"><br>
		</div>

		<div class="col-sm-6">
			<label for="apellido" >Apellido: </label>
			<input type="text" placeholder="Introduce tus apellidos" class="form-control" name="apellido" ng-model="actual.apellido"><br>
		</div>

		<div class="col-sm-6">
			<label for="correo" >Correo electronico: </label>
			<input type="email" maxlength="45" placeholder="Introduce correo" class="form-control" name="correo" ng-model="actual.correo"><br>
		</div>

		<div class="col-sm-6">
			<label for="telefono" >Telefono: </label>
			<input type="number" placeholder="Numero telefonico" class="form-control" name="telefono" ng-model="actual.telefono"><br>
		</div>
		
		<div class="form-group col-sm-6">
			<label for="nombre" >Nick: </label>
			<input class="span5 form-control" ng-model="actual.nick" maxlength="20" placeholder="Nombre de usuario" type="text">
		</div>
		<div class="form-group col-sm-6" ng-hide="btnUpdate == true" ng-show="btnSave == true">
			<label for="nombre">Contraseña: </label>
			<input class="span5 form-control" maxlength="20"  ng-model="actual.contrasenia" placeholder="Contraseña" type="password">
		</div>

	</div>
	

	<!--Tablas-->
	<div class="panel" ng-show="true">
		<!--Boton de busqueda-->
		<div class="panel-heading">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				<input type="text" class="form-control" placeholder="Buscar usuario" ng-model="buscar">
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-condensed table-striped" ng-init="getUsuarios()">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>CI</th>
						<th>Nombres</th>
						<th>Apellidos</th>
						<th>Correo</th>
						<th>Telefono</th>
						<th>Controles</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = 'user in users | filter:buscar | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
						<td>{{user.codigo}}</td>
						<td>{{user.ci}}</td>
						<td>{{user.nombre | uppercase}}</td>
						<td>{{user.apellido | uppercase}}</td>
						<td>{{user.correo}}</td>
						<td>{{user.telefono}}</td>
						<td>
							<div class="btn-group btn-group-sm">
								<button type="button" class="btn btn-warning btn-small" ng-click="update(user.codigo)"><span class="glyphicon glyphicon-pencil"></span></button>
								<button type="button" class="btn btn-danger btn-small"  ng-click="delete(user.codigo)"><span class="glyphicon glyphicon-trash"></span></button>
			    			</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--Botones navegables-->
		<div class="navegacion">
			<button class="pagination pagination-lg" type="button" ng-disabled = "currentPage == 0" ng-click="currentPage = currentPage - 1">&laquo;</button>
			<button class="pagination" type="button" ng-disabled = "currentPage == page.no - 1" ng-click="setPage(page.no)" ng-repeat="page in pages">{{page.no}}</button>
			<button class="pagination pagination-sm" type="button" ng-disabled = "currentPage >= users.length/pageSize - 1" ng-click="currentPage = currentPage + 1">&raquo;</button>
		</div>
	</div>
</div>
