<div class="col-sm-12" >
	<h2>{{message}}</h2>
	<hr>
	<div class="menuOpciones pull-right">
		<ul class="menu nav nav-pills">
			<li>
				<a href="#" class="opciones pull-right btn btn-info" ng-disabled="btnNuevo == false">Nuevo</a>
			</li>
			<li>
				<a href="#" class="opciones pull-right btn btn-warning">Editar</a>
			</li>
			<li>
				<a href="#" class="opciones pull-right btn btn-danger">Eliminar</a>
			</li>
			<li>
				<a href="#" class="opciones pull-right btn btn-success" ng-disabled="btnRegistrar == false" ng-click="guardar()">Guardar</a>
			</li>
		</ul>
	</div>
	<br>
	<!--Tablas-->
	<table class="table" ng-init="getUsuarios()">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>CI</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Correo</th>
				<th>Telefono</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = 'user in users'>
				<td>{{user.codigo}}</td>
				<td>{{user.ci}}</td>
				<td>{{user.nombre}}</td>
				<td>{{user.apellido}}</td>
				<td>{{user.correo}}</td>
				<td>{{user.telefono}}</td>
				<td>{{user.fecha}}</td>
			</tr>
		</tbody>
	</table>

	<!--Botones navegables-->
	<button type="button" ng-disabled = "currentPage == 0" ng-click="currentPage = currentPage - 1">&laquo;</button>
<button type="button" ng-disabled = "currentPage == page.no - 1" ng-click="setPage(page.no)" ng-repeat="page in pages">{{page.no}}</button>
	<button type="button" ng-disabled = "currentPage >= users.length/pageSize - 1" ng-click="currentPage = currentPage + 1">&raquo;</button>

</div>
